*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    min-height: 1000px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 90px;

    position: fixed;
    width: 100%;
    z-index: 10;
    transition: .8s all;
}

nav.sticky{
    background-color: #fff;
    padding: 20px 40px;
   
}

.logo{
    font-size: 2rem;
    color: #fff;
}

nav.sticky .logo{
    color: #111;
}

.toggle, .exit{
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.menu{
    display: flex;
    
}

nav li a{
    display: block;
    margin-left: 5px;
    font-size: 1.3rem;
    padding: 10px;
    color: #fff;
}

nav.sticky li a{
    color: #111;
}

.header-container{
    background: url('Images/bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;

    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: color;
}

.header-container h1{
    text-align: center;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.header-container p{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 15px;
}

.button{
    display: inline-block;
    background-color: blueviolet;
    color: #fff;
    padding: 20px 50px;
    border-radius: 8px;
    font-size: 1.3rem;

    transition: .6s ease;
}

.button:hover{
    letter-spacing: 2px;
}

.clients-container{
    padding: 30px 60px;
}

.clients-container h1{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.logo{
    width: 150px;
}

.logo_clients{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    margin: 30px auto;
}






@media (max-width:780px){
    .toggle{
        display: block;
    }

    .toggle.none{
        display: none;
    }

    .sticky .toggle{
        color: #111;
    }

    .menu{
        position: fixed;
        flex-direction: column;
        top: 75px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: translateX(-100%);
        transition: .8s ease;
    }

    .showmenu{
        transform: translateX(0);
    }

    .exit.showexit{
        display: block;
    }

    .sticky .exit{
        color: #111;
    }

    nav li a{
        color: #111;
        text-align: center;
        font-size: 2rem;
        margin-top: 40px;
    }

    .header-container{
        padding: 50px;
    }
    .header-container h1{
        font-size: 3rem;
        margin-top: 50px;
    }

    .header-container p{
        font-size: 1.5rem;
    }    
    
    .button{
        padding: 15px 40px ;
    }

}