*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    min-height: 1000px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;

    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo{
    font-size: 2rem;
    color: #fff;
}

.toggle, .exit{
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.menu{
    display: flex;
    flex-wrap: wrap;
}

nav li a{
    display: block;
    margin-left: 10px;
    font-size: 1.3rem;
    padding: 10px 15px;
    color: #fff;
}

.container{
    background: url('Images/bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;

    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: color;
}

.container h1{
    text-align: center;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.container p{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 15px;
}

.button{
    display: inline-block;
    background-color: blueviolet;
    color: #fff;
    padding: 20px 50px;
    border-radius: 8px;
    font-size: 1.3rem;

    transition: .6s ease;
}

.button:hover{
    letter-spacing: 2px;
}